作業

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3.請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [2]:
# 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？


```
df.loc[ '2013-01-01', 'A'] => row: '2013-01-01', column: 'A'
df.loc[ '2013-01-01', ['A', 'B'] ] => row: '2013-01-01', column: 'A', 'B'
df.loc[ '2013-01-01':'2013-01-02', 'A' ] => row: '2013-01-01' ~ '2013-01-02', column: 'A'
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] => row: '2013-01-01' ~ '2013-01-05', cloumn: 'A' ~ 'C'
```

In [3]:
#2. 請根據提供的資料，選擇出下列的要求：
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  1.323876 -0.502459 -0.566140
1  0.108355 -0.748824 -1.520346
2  0.888014  1.581210  1.384831
3  0.271641 -2.638720  0.396070
4 -0.931881  1.016769 -0.001241
5  0.777749  0.483665  0.077222

In [4]:
# - select the first 3 rows.
print(df.iloc[0:3,:])
# - select the odd rows. (index = 1, 3, 5)
print(df.iloc[1::2,:])
# - select the last 2 columns.
print(df.iloc[:,-2:])
# - select the even columns. (index = 0, 2, 4)
print(df.iloc[:,0::2])

       col1      col2      col3
0  1.323876 -0.502459 -0.566140
1  0.108355 -0.748824 -1.520346
2  0.888014  1.581210  1.384831
       col1      col2      col3
1  0.108355 -0.748824 -1.520346
3  0.271641 -2.638720  0.396070
5  0.777749  0.483665  0.077222
       col2      col3
0 -0.502459 -0.566140
1 -0.748824 -1.520346
2  1.581210  1.384831
3 -2.638720  0.396070
4  1.016769 -0.001241
5  0.483665  0.077222
       col1      col3
0  1.323876 -0.566140
1  0.108355 -1.520346
2  0.888014  1.384831
3  0.271641  0.396070
4 -0.931881 -0.001241
5  0.777749  0.077222

In [5]:
#3.請根據提供的資料，選擇出下列的要求：
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   26  11  20  22
1   24  29  18  18
2   13  13  37  22
3   18  18  11  12
4   22  17  14  24
5   15  22  30  29
6   25  12  16  12
7   34  21  25  24
8   14  19  18  18
9   22  32  31  13
10  32  31  29  14
11  11  27  29  29
12  25  10  22  13
13  22  12  37  17
14  33  10  12  17

In [6]:
# - 1. filtered by first column > 20?
print(df[df.iloc[:,0]>20])

# - 2. filtered by first column + second column > 50
print(df[df.iloc[:,0]+df.iloc[:,1]>50])

# - 3. filtered by first column < 30 or second column > 30
print(df[(df.iloc[:,0]<30) | (df.iloc[:,1]>30)])

# - 4. filtered by total sum of row > 100
print(df[df.sum(axis=1) > 100])

     0   1   2   3
0   26  11  20  22
1   24  29  18  18
4   22  17  14  24
6   25  12  16  12
7   34  21  25  24
9   22  32  31  13
10  32  31  29  14
12  25  10  22  13
13  22  12  37  17
14  33  10  12  17
     0   1   2   3
1   24  29  18  18
7   34  21  25  24
9   22  32  31  13
10  32  31  29  14
     0   1   2   3
0   26  11  20  22
1   24  29  18  18
2   13  13  37  22
3   18  18  11  12
4   22  17  14  24
5   15  22  30  29
6   25  12  16  12
8   14  19  18  18
9   22  32  31  13
10  32  31  29  14
11  11  27  29  29
12  25  10  22  13
13  22  12  37  17
     0   1   2   3
7   34  21  25  24
10  32  31  29  14